<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration
		https://www.springframework.org/schema/integration/spring-integration.xsd">

    <bean class="org.springframework.xd.loadgenerator.LoadGenerator">
        <constructor-arg name="producers" value="${producers}"/>
        <constructor-arg name="messageCount" value="${messageCount}"/>
        <constructor-arg name="recordCount" value="${recordCount}"/>
        <constructor-arg name="recordDelimiter" value="${recordDelimiter}"/>
        <constructor-arg name="recordType" value="${recordType}"/>
        <constructor-arg name="sleepTime" value="${sleepTime}"/>
        <constructor-arg name="sleepCount" value="${sleepCount}"/>
        <property name="autoStartup" value="false"/>
        <property name="outputChannel" ref="output"/>
    </bean>

    <int:channel id="output"/>


</beans>
