*#
.#*
*~
.idea/
/build/
/bin/
/lib/
/.gradle/
.DS_Store
target
bin
build
.gradle
.springBeans
*.iml
*.ipr
*.iws
*.log
.classpath
.project
.settings
.idea
out
data/jobs/xdjobrepo.properties
data/jobs/xdjobrepo.script
