<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration
		https://www.springframework.org/schema/integration/spring-integration.xsd">

    <bean id="langDetector" class="org.springframework.xd.analytics.linguistics.langdetect.LanguageDetector">
        <property name="inputTextContentPropertyName" value="${inputTextContentPropertyName}"/>
        <property name="mostLikelyLanguageOutputPropertyName" value="${mostLikelyLanguageOutputPropertyName}"/>
        <property name="languageProbabilitiesOutputPropertyName" value="${languageProbabilitiesOutputPropertyName}"/>
        <property name="languageProfileLocation" value="${languageProfileLocation}"/>
        <property name="returnLanguageProbabilities" value="${returnLanguageProbabilities}"/>
        <property name="returnMostLikelyLanguage" value="${returnMostLikelyLanguage}"/>
        <property name="deterministicLanguageDetection" value="${deterministicLanguageDetection}"/>
        <property name="textModel" value="${textModel}"/>
    </bean>


    <int:channel id="input"/>

    <int:transformer input-channel="input" output-channel="output" ref="langDetector" method="process"/>

    <int:channel id="output"/>

</beans>


